{
  "name": "freelancer1",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "less/freelancer.less",
      "imports": [
        "less/variables.less",
        "less/mixins.less"
      ]
    },
    {
      "path": "font-awesome-4.1.0/less/font-awesome.less",
      "imports": [
        "font-awesome-4.1.0/less/variables.less",
        "font-awesome-4.1.0/less/mixins.less",
        "font-awesome-4.1.0/less/path.less",
        "font-awesome-4.1.0/less/core.less",
        "font-awesome-4.1.0/less/larger.less",
        "font-awesome-4.1.0/less/fixed-width.less",
        "font-awesome-4.1.0/less/list.less",
        "font-awesome-4.1.0/less/bordered-pulled.less",
        "font-awesome-4.1.0/less/spinning.less",
        "font-awesome-4.1.0/less/rotated-flipped.less",
        "font-awesome-4.1.0/less/stacked.less",
        "font-awesome-4.1.0/less/icons.less"
      ]
    },
    {
      "path": "font-awesome-4.1.0/scss/font-awesome.scss",
      "imports": [
        "font-awesome-4.1.0/scss/_variables.scss",
        "font-awesome-4.1.0/scss/_mixins.scss",
        "font-awesome-4.1.0/scss/_path.scss",
        "font-awesome-4.1.0/scss/_core.scss",
        "font-awesome-4.1.0/scss/_larger.scss",
        "font-awesome-4.1.0/scss/_fixed-width.scss",
        "font-awesome-4.1.0/scss/_list.scss",
        "font-awesome-4.1.0/scss/_bordered-pulled.scss",
        "font-awesome-4.1.0/scss/_spinning.scss",
        "font-awesome-4.1.0/scss/_rotated-flipped.scss",
        "font-awesome-4.1.0/scss/_stacked.scss",
        "font-awesome-4.1.0/scss/_icons.scss"
      ]
    },
    {
      "path": "login/build/bootstrap-less/mixins.less",
      "imports": [
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/AdminLTE-without-plugins.less",
      "imports": [
        "login/build/less/core.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/less/header.less",
        "login/build/less/sidebar.less",
        "login/build/less/sidebar-mini.less",
        "login/build/less/control-sidebar.less",
        "login/build/less/dropdown.less",
        "login/build/less/forms.less",
        "login/build/less/progress-bars.less",
        "login/build/less/small-box.less",
        "login/build/less/boxes.less",
        "login/build/less/info-box.less",
        "login/build/less/timeline.less",
        "login/build/less/buttons.less",
        "login/build/less/callout.less",
        "login/build/less/alerts.less",
        "login/build/less/navs.less",
        "login/build/less/products.less",
        "login/build/less/table.less",
        "login/build/less/labels.less",
        "login/build/less/direct-chat.less",
        "login/build/less/users-list.less",
        "login/build/less/carousel.less",
        "login/build/less/modal.less",
        "login/build/less/social-widgets.less",
        "login/build/less/mailbox.less",
        "login/build/less/lockscreen.less",
        "login/build/less/login_and_register.less",
        "login/build/less/404_500_errors.less",
        "login/build/less/invoice.less",
        "login/build/less/profile.less",
        "login/build/less/miscellaneous.less",
        "login/build/less/print.less"
      ]
    },
    {
      "path": "login/build/less/AdminLTE.less",
      "imports": [
        "login/build/less/core.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/less/header.less",
        "login/build/less/sidebar.less",
        "login/build/less/sidebar-mini.less",
        "login/build/less/control-sidebar.less",
        "login/build/less/dropdown.less",
        "login/build/less/forms.less",
        "login/build/less/progress-bars.less",
        "login/build/less/small-box.less",
        "login/build/less/boxes.less",
        "login/build/less/info-box.less",
        "login/build/less/timeline.less",
        "login/build/less/buttons.less",
        "login/build/less/callout.less",
        "login/build/less/alerts.less",
        "login/build/less/navs.less",
        "login/build/less/products.less",
        "login/build/less/table.less",
        "login/build/less/labels.less",
        "login/build/less/direct-chat.less",
        "login/build/less/users-list.less",
        "login/build/less/carousel.less",
        "login/build/less/modal.less",
        "login/build/less/social-widgets.less",
        "login/build/less/mailbox.less",
        "login/build/less/lockscreen.less",
        "login/build/less/login_and_register.less",
        "login/build/less/404_500_errors.less",
        "login/build/less/invoice.less",
        "login/build/less/profile.less",
        "login/build/less/plugins.less",
        "login/build/less/miscellaneous.less",
        "login/build/less/print.less",
        "login/build/less/bootstrap-social.less",
        "login/build/less/fullcalendar.less",
        "login/build/less/select2.less"
      ]
    },
    {
      "path": "login/build/less/plugins.less",
      "imports": [
        "login/build/less/bootstrap-social.less",
        "login/build/less/fullcalendar.less",
        "login/build/less/select2.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-black-light.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-black.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-blue-light.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-blue.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-green-light.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-green.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-purple-light.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-purple.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-red-light.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-red.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-yellow-light.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/skin-yellow.less",
      "imports": [
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/build/less/skins/_all-skins.less",
      "imports": [
        "login/build/less/skins/skin-blue.less",
        "login/build/less/skins/skin-blue-light.less",
        "login/build/less/skins/skin-black.less",
        "login/build/less/skins/skin-black-light.less",
        "login/build/less/skins/skin-green.less",
        "login/build/less/skins/skin-green-light.less",
        "login/build/less/skins/skin-red.less",
        "login/build/less/skins/skin-red-light.less",
        "login/build/less/skins/skin-yellow.less",
        "login/build/less/skins/skin-yellow-light.less",
        "login/build/less/skins/skin-purple.less",
        "login/build/less/skins/skin-purple-light.less",
        "login/build/bootstrap-less/mixins.less",
        "login/build/bootstrap-less/variables.less",
        "login/build/less/variables.less",
        "login/build/less/mixins.less",
        "login/build/bootstrap-less/mixins/hide-text.less",
        "login/build/bootstrap-less/mixins/opacity.less",
        "login/build/bootstrap-less/mixins/image.less",
        "login/build/bootstrap-less/mixins/labels.less",
        "login/build/bootstrap-less/mixins/reset-filter.less",
        "login/build/bootstrap-less/mixins/resize.less",
        "login/build/bootstrap-less/mixins/responsive-visibility.less",
        "login/build/bootstrap-less/mixins/size.less",
        "login/build/bootstrap-less/mixins/tab-focus.less",
        "login/build/bootstrap-less/mixins/reset-text.less",
        "login/build/bootstrap-less/mixins/text-emphasis.less",
        "login/build/bootstrap-less/mixins/text-overflow.less",
        "login/build/bootstrap-less/mixins/vendor-prefixes.less",
        "login/build/bootstrap-less/mixins/alerts.less",
        "login/build/bootstrap-less/mixins/buttons.less",
        "login/build/bootstrap-less/mixins/panels.less",
        "login/build/bootstrap-less/mixins/pagination.less",
        "login/build/bootstrap-less/mixins/list-group.less",
        "login/build/bootstrap-less/mixins/nav-divider.less",
        "login/build/bootstrap-less/mixins/forms.less",
        "login/build/bootstrap-less/mixins/progress-bar.less",
        "login/build/bootstrap-less/mixins/table-row.less",
        "login/build/bootstrap-less/mixins/background-variant.less",
        "login/build/bootstrap-less/mixins/border-radius.less",
        "login/build/bootstrap-less/mixins/gradients.less",
        "login/build/bootstrap-less/mixins/clearfix.less",
        "login/build/bootstrap-less/mixins/center-block.less",
        "login/build/bootstrap-less/mixins/nav-vertical-align.less",
        "login/build/bootstrap-less/mixins/grid-framework.less",
        "login/build/bootstrap-less/mixins/grid.less"
      ]
    },
    {
      "path": "login/css/font-awesome-4.7.0/less/font-awesome.less",
      "imports": [
        "login/css/font-awesome-4.7.0/less/variables.less",
        "login/css/font-awesome-4.7.0/less/mixins.less",
        "login/css/font-awesome-4.7.0/less/path.less",
        "login/css/font-awesome-4.7.0/less/core.less",
        "login/css/font-awesome-4.7.0/less/larger.less",
        "login/css/font-awesome-4.7.0/less/fixed-width.less",
        "login/css/font-awesome-4.7.0/less/list.less",
        "login/css/font-awesome-4.7.0/less/bordered-pulled.less",
        "login/css/font-awesome-4.7.0/less/animated.less",
        "login/css/font-awesome-4.7.0/less/rotated-flipped.less",
        "login/css/font-awesome-4.7.0/less/stacked.less",
        "login/css/font-awesome-4.7.0/less/icons.less",
        "login/css/font-awesome-4.7.0/less/screen-reader.less"
      ]
    },
    {
      "path": "login/css/font-awesome-4.7.0/scss/font-awesome.scss",
      "imports": [
        "login/css/font-awesome-4.7.0/scss/_variables.scss",
        "login/css/font-awesome-4.7.0/scss/_mixins.scss",
        "login/css/font-awesome-4.7.0/scss/_path.scss",
        "login/css/font-awesome-4.7.0/scss/_core.scss",
        "login/css/font-awesome-4.7.0/scss/_larger.scss",
        "login/css/font-awesome-4.7.0/scss/_fixed-width.scss",
        "login/css/font-awesome-4.7.0/scss/_list.scss",
        "login/css/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "login/css/font-awesome-4.7.0/scss/_animated.scss",
        "login/css/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "login/css/font-awesome-4.7.0/scss/_stacked.scss",
        "login/css/font-awesome-4.7.0/scss/_icons.scss",
        "login/css/font-awesome-4.7.0/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "login/registrarse/css/font-awesome-4.7.0/less/font-awesome.less",
      "imports": [
        "login/registrarse/css/font-awesome-4.7.0/less/variables.less",
        "login/registrarse/css/font-awesome-4.7.0/less/mixins.less",
        "login/registrarse/css/font-awesome-4.7.0/less/path.less",
        "login/registrarse/css/font-awesome-4.7.0/less/core.less",
        "login/registrarse/css/font-awesome-4.7.0/less/larger.less",
        "login/registrarse/css/font-awesome-4.7.0/less/fixed-width.less",
        "login/registrarse/css/font-awesome-4.7.0/less/list.less",
        "login/registrarse/css/font-awesome-4.7.0/less/bordered-pulled.less",
        "login/registrarse/css/font-awesome-4.7.0/less/animated.less",
        "login/registrarse/css/font-awesome-4.7.0/less/rotated-flipped.less",
        "login/registrarse/css/font-awesome-4.7.0/less/stacked.less",
        "login/registrarse/css/font-awesome-4.7.0/less/icons.less",
        "login/registrarse/css/font-awesome-4.7.0/less/screen-reader.less"
      ]
    },
    {
      "path": "login/registrarse/css/font-awesome-4.7.0/scss/font-awesome.scss",
      "imports": [
        "login/registrarse/css/font-awesome-4.7.0/scss/_variables.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_mixins.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_path.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_core.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_larger.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_fixed-width.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_list.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_animated.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_stacked.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_icons.scss",
        "login/registrarse/css/font-awesome-4.7.0/scss/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}